
@{
    ViewBag.Title = "index";
}

<h2>Tische</h2>
<div>
    <p>@Html.ActionLink("Tisch #1", "Detail", "BarOrders", new { id = 1 }, new { @class = "btn btn-primary btn-lg" })</p>
</div>
<div>
    <p>@Html.ActionLink("Tisch #2", "Detail", "BarOrders", new { id = 2 }, new { @class = "btn btn-primary btn-lg" })</a></p>
</div>
<div>
    <p>@Html.ActionLink("Tisch #3", "Detail", "BarOrders", new { id = 3 }, new { @class = "btn btn-primary btn-lg" })</a></p>
</div>


